<div>
  <app-thumbnail imageSource="assets/images/HEALTH1.png" text="HEALTH" (imageClicked)="showImage($event)"></app-thumbnail>
  <app-thumbnail imageSource="assets/images/food.jpg" text="FOOD" (imageClicked)="showImage($event)"></app-thumbnail>
  <app-thumbnail imageSource="assets/images/sport.jpg" text="SPORT" (imageClicked)="showImage($event)"></app-thumbnail>
  <app-thumbnail imageSource="assets/images/trevel.jpeg" text="TREVEL" (imageClicked)="showImage($event)"></app-thumbnail>
  <app-thumbnail imageSource="assets/images/jwe.jpg" text="ROLEX" (imageClicked)="showImage($event)"></app-thumbnail>
  <app-thumbnail imageSource="assets/images/COMPUTERS.jpg" text="COMPUTERS" (imageClicked)="showImage($event)"></app-thumbnail>
 
</div>